<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Username:</strong>

    <%= @user.username %>
  </p>

</div>

<p>
  <% if @user and not @user.ratings.empty? %>
    User has made <%= pluralize(@user.ratings.size, 'rating') %> with an average of <%= @user.average_rating.to_f %>
  <% end %>
</p>

<p>
  <% if @user and @user.favorite_style %>
    Favorite style: <strong><%= @user.favorite_style %></strong>
  <% end %>
</p>

<p>
  <% if @user and @user.favorite_brewery %>
    Favorite brewery: <strong><%= @user.favorite_brewery %></strong>
  <% end %>
</p>

<strong>ratings</strong>

<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= "#{rating.to_s}" %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>
</ul>

<h3>
  Beer clubs:
</h3>

<div>
  <% @beer_clubs.each do |club| %>
    <p>
      <%= link_to club.name, beer_club_path(club) %>
    </p>
  <% end %>
</div>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  
  <%= link_to "Back to users", users_path %>

  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
  
</div>
